* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    text-align: center;
    background-color: #183742;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    color: #03694d;
    font-size: 3rem;
}

.aside {
    height: 100px;
}

.bloc {
    width: 30%;
    height: 700px;
    background: #defff9;
    background: radial-gradient(circle farthest-corner at center center, #bbf6f0 0%, #91fce3 40%, #1ecbb2 80%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    border-radius: 30px;
    border: inset 5px #91eeee;
}

#jeu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 450px;
    margin: auto;
    background-color: #3097b7;
}

.case {
    border: solid 2px #0cc77e;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 6rem;
    border-radius: 10px;
    color: #0ddab5;
    background-color: #215265;

}

.case:hover {
    background-color: #1d7a9d;
    color: #00ff77;
    box-shadow: 1px 8px 23px 6px rgba(70,153,181,1);
    cursor: pointer;
}

p {
    margin-top: 30px;
    color: #016c6c;
    font-size: 1rem;
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: #3097b7;
}

button:hover {
    background-color: #057a6c;
}

a {
    color: white;
    font-size: 1.3rem;
    text-decoration-line: none;
}



@media screen and (min-width: 320px){

    .bloc {
        width: 80%;
        height: 500px;
    }

    #jeu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        width: 150px;
        margin: auto;

    }

    .case {
        border: solid 2px #0cc77e;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 2rem;
        border-radius: 10px;
        color: #0ddab5;
        background-color: #215265;

    }
}

@media screen and (min-width: 500px){


    .bloc {
        width: 95%;
        height: 700px;
    }

    #jeu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        width: 300px;
        margin: auto;
        background-color: #3097b7;

    }

    .case {
        border: solid 2px #0cc77e;
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 3rem;
        border-radius: 10px;
        color: #0ddab5;
        background-color: #215265;

    }
}





